@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

:root {
    --input-bg: #F2F2F2;
    --button-bg: #007AFF;
    --btn-text: #fff;
    --card-color: #fff;
    --h1-color: #101828;
    --sub-text: #4A5565;
    --main-black: #101828;
    --text-color: #101828;
    --layout: #fff;
    --red-severity-bg: rgba(231, 76, 60, 0.2);
    --red-severity-text: #E74C3C;
    --green-severity-bg: rgba(46, 204, 113, 0.2);
    --green-severity-text: #27AE60;
    --orange-severity-bg: rgba(249, 115, 22, 0.2);
    --orange-severity-text: #F97316;
    --blue-severity-bg: #3498DB33;
    --blue-severity-text: #3498DB;
    --critical-severity: #7F0B0B;
    --high-severity: #4D6EF5;
    --medium-severity: #FC9D1E;
    --low-severity: #0BDC91;
}

body{
    font-family: "ABeeZee", sans-serif;
    background-color: #F3F6FE;
}

/* Сбрасываем желтый фон автозаполнения в Chrome, Safari */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important; /* или другой цвет фона */
    -webkit-text-fill-color: #000 !important; /* цвет текста */
    transition: background-color 5000s ease-in-out 0s;
}
